body
{
	background-color: #F4F4F4;

}

h1{
	position: relative;
	text-align: center;
	top: 0px;
	top: 100px;
}

.pos
{
	position: relative;
	left: 100px;
	right: 100px;
	top: 100px;
	bottom: 100px;
	padding: 20px;
}

.pos1
{
	position: fixed;
	left: 200px;
	right: 200px;
	top: 200px;
	bottom: 200px;
}

.pos2
{
	position: inherit;
}