.modeladoLogo
{
	padding: 30px 600px;
	background: #F38010;
	width: 130px;
	height: 130px;
}

img
{
	width: 30%;
	height: auto;

}

.parrafo1
{
	margin: 10px 50px;
	padding: 20px;
	border-width: 10px;
	border-style: ridge;
	border-color: black;
	text-align: justify;
}

.tresElementos
{
	margin: 30px 250px;
	padding: 50px;
	justify-content: center;
	background-color: white:
	border-style: solid;
	border-color: blue;
	border: solid;
	border-width: 20px;
	text-align: center;
}